  <header>
    <img class="ui centered small image cookie" src="/assets/cookie.png">
    <h1 class="ui center aligned header"><a href="/">Andrew King</a></h1>
    <div class="ui center aligned grid">
      <a href="https://twitter.com/andykingking" target="_blank" class="contact-link">
        <button class="circular ui icon green basic button">
          <i class="icon twitter"></i>
        </button>
      </a>
      <a href="https://github.com/andykingking" target="_blank" class="contact-link">
        <button class="circular ui icon green basic button">
          <i class="icon github"></i>
        </button>
      </a>
      <a href="mailto:me@andrewsking.com" target="_blank" class="contact-link">
        <button class="circular ui icon green basic button">
          <i class="icon mail outline"></i>
        </button>
      </a>
    </div>
    <div class="ui two column centered stackable grid">
      <div class="column">
    <h3 class="ui center aligned header">I make things, read alot, and am a casualty of the human condition. I also prefer to be publicly wrong rather than silently right.</h3>
      </div>
    </div>
  </header>
