---
---

$green: #16AB39;

@mixin header-link {
  a {
    color: black;
    &:hover {
      color: $green;
    }
  }
}

p a {
  color: $green;
  &:hover {
    color: $green;
    text-decoration: underline;
  }
}

header {
  margin-bottom: 4rem;
  .cookie {
    margin-top: 4rem;
  }
  h1 {
    @include header-link;
  }
  .contact-link {
    margin-top: 14px;
  }
}

section {
  h2 {
    @include header-link;
  }
}


