<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.css">
    <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/grid.min.css">
    <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/button.min.css">
    <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/icon.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <div class="ui text container">
      {% include header.html %}
      {{ content }}
    </div>
  </body>
</html>
